html, html>body {
    margin: 0px !important;
    padding: 0px !important;
    height: 100%;
    width: 100%;
}
/*body {
    font-family: "Helvetica Neue", Ubuntu, "WenQuanYi Micro Hei", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp", Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    line-height: 1.8em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    background: #fff;
}*/
img {border-width: 0px;}
a{
    color: #000;
    text-decoration: none;
    outline:none;
    border:none;
}
.list, .list li, .list-left li {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.pos-f {
    position: fixed;
}

.left-100 {
    width: 100%;
    height: 100%;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.tr3 {
    transition: all .3s;
}
#DonateText {
    position: fixed;
    font-size: 12px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    background: #ffd886 url(/assets/paymnet/like.svg) no-repeat center 10px;
    background-size: 20px;
    border-radius: 35px;
    text-align: center;
    left: calc(50% - 145px);
    top: calc(50% - 60px);
    z-index: -1;
    transform: rotatez(-15deg );
}
#donateBox {
    left: calc(50% - 150px);
    top: calc(50% - 15px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 224px;
    height: 28px;
    float: left;
    z-index: 1;
    padding-left: 0px;
    margin-left: 0px;
}
#donateBox li {
    width: 74px;
    float: left;
    text-align: center;
    border-left: 1px solid #ddd;
    background: no-repeat center center;
    background-color: rgba(204, 217, 220,0.1);
    background-size: 45px;
    transition: all .3s;
    cursor: pointer;
    overflow: hidden;
    line-height: 600px;
    height: 28px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
}
#donateBox li:hover {
    background-color: rgba(204, 217, 220,0.3);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}
#donateBox>li:first-child {
    border-width: 0;
}
#donateBox a {
    display: block;
}
#donateBox #PayPal {
    background-image: url(/assets/paymnet/paypal.svg);
}
#donateBox>#BTC {
    background-image: url(/assets/paymnet/bitcoin.svg);
    line-height: 28px;
}
#donateBox>#BTC:hover {
    overflow: visible;
}
#BTC>button {
    opacity: 0;
    cursor: pointer;
}
#donateBox #AliPay {
    background-image: url(/assets/paymnet/alipay.svg);
}
#donateBox #WeChat {
    background-image: url(/assets/paymnet/wechat.svg);
}
#QRBox {
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255,255,255,0.3);
    display: none;
    perspective: 400px;
}
#MainBox {
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    background: #fff no-repeat center center;
    background-size: 190px;
    border-radius: 6px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
    opacity: 0;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: center center;
    overflow: hidden;
}
#btc-key {
    opacity: 0;
    width: 2px;
    height: 8px;
    overflow: hidden;
    left: -2px;
    top: -8px;
}
#github {
    width: 24px;
    height: 24px;
    left: calc(50% + 60px);
    top: calc(50% - 30px);
    background: no-repeat center center url(/assets/paymnet/github.svg);
    background-size: contain;
    opacity: 0.3;
    transform: rotatez(15deg );
}
[data-footnote] {
    position: relative;
    overflow: hidden;
}
[data-footnote]:hover {
    overflow: visible;
}
[data-footnote]::before, [data-footnote]::after {
    position: absolute;
    transition: all .3s;
    transform: translate3d(-50%,0,0);
    opacity: 0;
    left: 37px;
    z-index: 10;
}
[data-footnote]::before {
    content: attr(data-footnote);
    border-radius: 6px;
    background-color: rgba(100,100,100,0.8);
    color: #fff;
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    font-size: 12px;
    white-space: nowrap;
    top: -24px;
    left: 37px;
}
[data-footnote]::after {
    content: '';
    border: 5px solid #333;
    border-color: rgba(100,100,100,0.8) transparent transparent transparent;
    top: 0;
    left: 37px;
}
[data-footnote]:hover::before,[data-footnote]:hover::after {
    opacity: 1;
}
[data-footnote]:hover::before,[data-footnote]:hover::after {
    transform: translate3d(-50%,-7px,0);
}

#MainBox.showQR {
    opacity: 1;
    animation-name:showQR;
    animation-duration:3s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    -webkit-animation:showQR 3s ease-in-out 0s 1 normal forwards;
}
@keyframes showQR {
    from {
        transform: rotateX(90deg);
    }
    8% {
        opacity: 1;
        transform: rotateX(-60deg);
    }
    18% {
        opacity: 1;
        transform: rotateX(40deg);
    }
    34% {
        opacity: 1;
        transform: rotateX(-28deg);
    }
    44% {
        opacity: 1;
        transform: rotateX(18deg);
    }
    58% {
        opacity: 1;
        transform: rotateX(-12deg);
    }
    72% {
        opacity: 1;
        transform: rotateX(9deg);
    }
    88% {
        opacity: 1;
        transform: rotateX(-5deg);
    }
    96% {
        opacity: 1;
        transform: rotateX(2deg);
    }
    to {
        opacity: 1;
    }
}
#MainBox.hideQR {
    opacity: 1;
    animation-name:hideQR;
    animation-duration:0.5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    -webkit-animation:hideQR 0.5s ease-in-out 0s 1 normal forwards;
}
@keyframes hideQR {
    from {
    }
    20%,50% {
        transform: scale(1.08,1.08);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: rotateZ(40deg) scale(0.6,0.6);
    }
}
embed,img{height:auto;max-width:100%;border:none;}

a {
    outline: 0;
    color: grey;
    text-decoration: none;
    transition: color .4s ease-out
}

a:focus,a:hover {
    outline: 0;
    color: #151515;
    text-decoration: none
}

a img.alignright {
    float: right;
    margin: 5px 0 10px 20px
}

a img.alignnone {
    margin: 5px 20px 10px 0
}

a img.alignleft {
    float: left;
    margin: 5px 20px 10px 0
}

a img.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.userItems {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px
}

.userItem {
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px
}

.userItem--inner {
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border-radius: 3px;
    position: relative;
    padding-bottom: 100%;
    height: 0
}

.userItem-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.img {
    border-radius: 50%
}

.userItem-name {
    line-height: 1;
    margin-top: 8px;
    text-align: center
}

@media (max-width:900px) {
    .userItem {
        width: 33.33333%
    }
}

@media (max-width:600px) {
    .userItem {
        width: 50%
    }
}

del.block {
    text-decoration: none!important;
    -webkit-transition: .2s cubic-bezier(.25,.46,.45,.94) color,.2s cubic-bezier(.25,.46,.45,.94) background;
    transition: .2s cubic-bezier(.25,.46,.45,.94) color,.2s cubic-bezier(.25,.46,.45,.94) background
}

del.block * {
    -webkit-transition: .35s cubic-bezier(.25,.46,.45,.94) opacity;
    transition: .35s cubic-bezier(.25,.46,.45,.94) opacity
}

del.block:not(:hover) {
    color: transparent!important;
    background: #000!important
}

del.block:not(:hover) * {
    opacity: 0!important
}

del.block:not(:hover),del.block:not(:hover) * {
    border: none!important
}

/* New Reader Layout Styles */
/* ----------------------------------------------------------*/

/* New reader */
.progress {
    margin: 0 auto;
    width: 95%;
    margin-bottom: 25px;
    margin-top: -20px;
}
.new-book {
    height: 75%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    writing-mode: vertical-rl;
    display: block;
    font-size: 16px;
    line-height: 2;
    font-weight: normal;
    font-style: normal;
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, IPA明朝, "IPA Mincho", "Noto Serif JP", "Noto Serif SC", "ＭＳ 明朝", "MS Mincho", monospace, sans-serif, serif, Meiryo, メイリオ;
    position: static;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.new-book h2{
    display: block !important;
    font-size: 32px !important;
    line-height: 1.8 !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-family: Meiryo, メイリオ, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, "ＭＳ Ｐゴシック", monospace, adobe-song-std, sans-serif, serif !important;
    position: static;
    margin: 0 24px 0px 24px !important;
}
.new-book strong{
    display: block;
    font-size: 16px;
    line-height: 1.8;
    font-weight: bold;
    font-style: normal;
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, IPA明朝, "IPA Mincho", "Noto Serif JP", "Noto Serif SC", "ＭＳ 明朝", "MS Mincho", monospace, sans-serif, serif, Meiryo, メイリオ;
    position: static;
}
.single {
    height: 70%;
    overflow: hidden;
    margin: 0 auto !important;
    writing-mode: vertical-rl;
    display: block;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    font-style: normal;
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, IPA明朝, "IPA Mincho", "Noto Serif JP", "Noto Serif SC", "ＭＳ 明朝", "MS Mincho", monospace, sans-serif, serif, Meiryo, メイリオ;
    position: static;
}