---
layout: page
title: Archives
permalink: /archives/
---

<div style="width: 360px;margin: 0 auto;float: right;margin-top: 64px;"><svg class="line-chart" ></svg></div>

<ul style="display: inline;float: left;">
  {% for post in site.posts %}

    {% unless post.next %}
      <h2>開発ログ</h2>
    {% else %}
      {% if year != nyear %}
        <h2>開発ログ</h2>
      {% endif %}
    {% endunless %}
    {% if post.relate == 'code' %}
    <li>{{ post.date | date:"%Y年%m月%d日：" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  
  {% for post in site.posts %}

    {% unless post.next %}
      <h2>{{ post.date | date: '%Y年' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ post.date | date: '%Y年' }}</h2>
      {% endif %}
    {% endunless %}
    {% unless post.relate == 'code' %}
    <li>{{ post.date | date:"%Y年%m月%d日：" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endunless %}
  {% endfor %}
</ul>

<script src="//cdn.jsdelivr.net/npm/chart.xkcd@1.1/dist/chart.xkcd.min.js"></script>
<script>
  const svg = document.querySelector('.line-chart')

  const lineChart = new chartXkcd.Line(svg, {
    title: '年度のまとめ', // optional
    xLabel: 'Year', // optional
    yLabel: 'Number of posts', // optional
    data: {
      labels: ['2011', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      datasets: [{
        label: 'Posts',
        data: [1, 0, 2, 2, 3, 0, 1, 7],
      }],
    },
    options: { // optional
      yTickCount: 3,
      legendPosition: chartXkcd.config.positionType.upLeft
    }
  });
</script>
