<!-- JS -->
<script src="https://comment.dylanwu.space/dist/Artalk.js"></script>

<!-- Artalk -->
<div id="Comments"></div>
<script>
Artalk.init({
  el:        '#Comments',                       // 绑定元素的 Selector
  pageKey:   '{{ page.url }}',                         // 固定链接
  pageTitle: '{{ page.title }}',         // 页面标题 (留空自动获取)
  server:    'https://comment.dylanwu.space',  // 后端地址
  site:      '瓠樽',                    // 你的站点名
  avatarURLBuilder: (c) => {  // 自定义头像URL生成器函数
    if (c.email_encrypted == "fc8474cbaab2d6405ad637fd26c600da949f772781d75d53f310543acda36ba2") {
      return `https://api.multiavatar.com/${c.nick}.png`;
    }
    if (c.nick == "山月") {
      return `https://uploads.disquscdn.com/images/2412160f720b88e8e7fd35fb12e799de5ad521d86b164683d3ff79a20b233d78.png`;
    }
    return `https://cravatar.cn/avatar/${c.email_encrypted}`;  // 否则，使用加密的邮箱生成Gravatar头像URL
  }
})
</script>