 <div id="disqus_thread"></div>
 <script type="text/javascript" src="{{site.baseurl}}/js/disqus.js"></script>
 <script type="text/javascript">
	var dsqjs = new DisqusJS({
		shortname: 'dwatelierblog',
		siteName: '瓠樽',
		identifier: '',
		url: '',
		title: '',
		api: 'https://52vz.dylanwu.space/api',
		apikey: 'B4qDuHfpWnTd12p2t6M7Sz27crG5820wsXj3INkrDhkGEkWos5VVDV544T81PR9A',
		admin: 'disqus_XVeQRp0PV0',
		adminLabel: ''
	});
 </script>
 <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
