 <div id="comment"></div>
 <script type="text/javascript" src="{{site.baseurl}}/js/iDisqus.min.js"></script>
 <script type="text/javascript">
	var disq = new iDisqus('comment', {
		forum: 'dwatelierblog',
		api: 'https://rpy.dylanwu.space/api',
		site: 'https://blog.dylanwu.space',
		mode: 1,
		timeout: 3000,
		init: true
	});
 </script>
 <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 <p style="text-align: center"><a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a></p>
    
