<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% seo title=false %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="apple-mobile-web-app-capable" content ="yes">
    <meta name="apple-mobile-web-app-title" content="瓠樽">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/icon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/icon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-180x180.png" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/iDisqus.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
    <link href="//cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/nehan5.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/nehan.book.css" />
    <link rel="stylesheet" type="text/css"  href="{{ site.baseurl }}/css/progressJS.css" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143241744-1" async="async"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143241744-1');
    </script>
    
    <!-- OneSignal -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="async"></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "03f94d6e-58e1-420c-9159-94cfc1859d80",
        });
      });
    </script>

</head>