<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% seo title=false %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
	<link rel="manifest" href="{{ site.baseurl }}/assets/manifest.json">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/icon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/icon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/icon/apple-touch-icon-180x180.png" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.baseurl }}">

    <!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/iDisqus.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reward.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/nehan5.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/nehan.book.css" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143241744-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-143241744-1');
	</script>

    <!-- Custom Font -->
    <script>
        (function(d) {
        var config = {
          kitId: 'whj6zam',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
</head>

