---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%Y-%m-%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  {% if page.book_type %}
  <article class="post-content nehan-book" data-direction="{{page.book_type}}" style="display:none">
  {% else %}
  <article class="post-content">
  {% endif %}
  {{ content }}
  </article>
</div>

{% case page.license %}
  {% when 'paper' %}
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
      <p style="text-align: center;">本文已发表于《{{ page.paper_name }}》 {{ page.paper_times }}，見諸第{{ page.paper_position }}頁，如欲轉載，請事先徵求出版社以及作者本人的意見。</p>
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
  {% when 'essay' %}
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
      <p style="text-align: center;">這是一篇原創文章，請您務必遵守<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>里的約定進行轉載。</p>
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
  {% else %}
{% endcase %}

{% if page.comments %}
{% include disqus.html %}
{% endif %}
