---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 style="padding: 10px;display: table-cell;">{{ page.title }}</h1>
    <p class="meta" style="padding: 10px;display: table-cell;">{{ page.date | date: "%Y年%m月%d日" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  {% case page.book_type %}
    {% when 'vert' %}
  <article class="post-content nehan-book" data-direction="{{page.book_type}}" style="display:none">
    {% when 'hori' %}
  <article class="post-content nehan-book" data-direction="{{page.book_type}}" style="display:none">
    {% when 'rl' %}
  <article class="new-book post-content nehan-book" id="{{page.book_type}}">
    <div class="progress"></div>
    {% when 'textify' %}
  <article class="new-book post-content longText" id="{{page.book_type}}">
    {% when 'single' %}
  <article class="{{page.book_type}} post-content" id="{{page.book_type}}">
    {% else %}
  <article class="post-content">
  {% endcase %}
  {{ content }}
  </article>
  {% if page.book_type == 'rl' %}
  <script src="{{ site.baseurl }}/js/progressJS.js"></script>
    <script>var x=document.getElementById("rl");var w=x.clientWidth;var sw=x.scrollWidth;var tw=sw-w;function GetPercent(num,total){num=parseFloat(num);total=parseFloat(total);if(isNaN(num)||isNaN(total)){return"-"}return total<=0?"0%":(Math.round(num/total*100))}function GetWidth(per,total){per=parseFloat(per);total=parseFloat(total);if(isNaN(per)||isNaN(total)){return"-"}return total<=0?"0%":(Math.round(per*total/100))}var timeID;var pro=new Progress(".progress",{val:100,size:2,precision:0,drag:true,direction:"horizontal",tip:false,getVal:function(el){console.log(el.val);var lw=GetWidth(el.val,tw);console.log(lw);console.log(w);console.log(sw);console.log(tw);x.scrollLeft=lw}});pro.onLoad(false);</script>
  {% endif %}
</div>

{% if page.comments %}
{% include disqus.html %}
{% endif %}

{% case page.license %}
  {% when 'paper' %}
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
      <p style="text-align: center;">本文已发表于《{{ page.paper_name }}》{{ page.paper_times }}，見諸第{{ page.paper_position }}頁，如欲轉載，請事先徵求出版社以及作者本人的意見。</p>
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
  {% when 'essay' %}
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
      <p style="text-align: center;">這是一篇原創文章，請您務必遵守 <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> 中的約定進行轉載。</p>
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
  {% else %}
{% endcase %}
