---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1>{{ page.title }}</h1><!-- style="padding: 10px;display: table-cell;" -->
    <p class="meta">{{ page.date | date: "%Y年%m月%d日" }}·{% assign week = page.date | date: "%A" %}{% case week %}{% when 'Sunday' %}日{% when 'Monday' %}月{% when 'Tuesday' %}火{% when 'Wednesday' %}水{% when 'Thursday' %}木{% when 'Friday' %}金{% when 'Saturday' %}土{% else %}null{% endcase %}曜日 · 全文を読むのに{{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 320 | plus: 1 }}分かかります。{% if page.author %} · {{ page.author }}{% endif %}{% if page.meta %} · {{ page.meta }}{% endif %}</p> <!-- style="padding: 10px;display: table-cell;" -->
  </header>

  {% case page.book_type %}
    {% when 'vert' %}
  <article class="post-content nehan-book" data-direction="{{page.book_type}}" style="display:none">
    {{ content }}
  </article>
    {% when 'hori' %}
  <article class="post-content nehan-book" data-direction="{{page.book_type}}" style="display:none">
    {{ content }}
  </article>
    {% when 'rl' %}
  <article class="new-book post-content" id="{{page.book_type}}">
  <div class="innerBox">
    {{ content }}
  </div>
  </article>
  <div class="progress"></div>
    {% when 'single' %}
  <article class="{{page.book_type}} post-content" id="{{page.book_type}}">
    {{ content }}
  </article>
    {% else %}
  <article class="post-content">
    {{ content }}
  </article>
  {% endcase %}

  {% if page.book_type == 'rl' %}
  <script src="{{ site.baseurl }}/js/progressJS.min.js"></script>
    <script>var x=document.querySelector(".new-book");var w=x.clientWidth;var sw=x.scrollWidth;var tw=sw-w;function GetPercent(num,total){num=parseFloat(num);total=parseFloat(total);if(isNaN(num)||isNaN(total)){return"-"}return total<=0?"0%":(Math.round(num/total*100))}function GetWidth(per,total){per=parseFloat(per);total=parseFloat(total);if(isNaN(per)||isNaN(total)){return"-"}return total<=0?"0%":(Math.round(per*total/100))}var timeID;var pro=new Progress(".progress",{val:100,size:3,precision:0,drag:true,direction:"horizontal",tip:false,getVal:function(el){var lw=GetWidth(el.val,tw);var ttw=~tw+lw;var isChrome=!!window.chrome;if(isChrome){x.scrollLeft=lw}else{x.scrollLeft=ttw}}});pro.onLoad(false);</script>
    <script>let reader=document.querySelector(".new-book");let clientWidth=reader.clientWidth;let scrollWidth=reader.scrollWidth;let remainWidth=reader.scrollWidth-reader.clientWidth;let barWidth=document.querySelector(".ProgressBar").clientWidth;let deltaPer=GetPercent(barWidth,remainWidth);reader.onmousedown=function(ev){let oEvent=ev||event;let mousePlace=oEvent.pageX;document.onmousemove=function(ev){let oEvent=ev||event;let distance=oEvent.pageX;let actual=mousePlace-distance;let act=actual/32;reader.scrollLeft+=act;let innerBox=document.querySelector('.innerBox').getBoundingClientRect().left;let readerBox=reader.getBoundingClientRect().left;let innerBoxLeft=readerBox-innerBox;let deltaBar=GetWidth(deltaPer,innerBoxLeft);document.querySelector(".ProgressLine").style.width=deltaBar+'px';};document.onmouseup=function(){document.onmousemove=null;document.onmouseup=null}};</script>
    <script>let startX=startY=endX=endY=0;reader.addEventListener('touchstart',function(event){if(event.touches.length==1){event.preventDefault()};let touch=event.targetTouches[0];startX=touch.pageX;startY=touch.pageY;reader.addEventListener('touchmove',function(event){let touch=event.targetTouches[0];endX=touch.pageX;endY=touch.pageY;let deltaX=endX-startX;let act=deltaX/64;reader.scrollLeft-=act;let innerBox=document.querySelector('.innerBox').getBoundingClientRect().left;let readerBox=reader.getBoundingClientRect().left;let innerBoxLeft=readerBox-innerBox;let deltaBar=GetWidth(deltaPer,innerBoxLeft);document.querySelector(".ProgressLine").style.width=deltaBar+'px';let startX=startY=endX=endY=0;});reader.addEventListener('touchend',function(event){reader.removeEventListener('touchmove',null);reader.removeEventListener('touchend',null)})});</script>
  {% endif %}
</div>

{% if page.comments %}
{% include disqus.html %}
{% endif %}

{% case page.license %}
  {% when 'paper' %}
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
      <p style="text-align: center;">本文已发表于《{{ page.paper_name }}》{{ page.paper_times }}，見諸第{{ page.paper_position }}頁，如欲轉載，請事先徵求出版社以及作者本人的意見。</p>
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
  {% when 'essay' %}
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
      <p style="text-align: center;">這是一篇原創文章，請您務必遵守 <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> 中的約定進行轉載。</p>
    <hr style="margin: 2em 0 2em 0;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
  {% else %}
{% endcase %}
